*.tgz
*.swp
kubeconfig
*.kubeconfig
bin/
*.tar
integration-test/log
integration-test/**/images/
integration-test/kind/config.yaml
charts/local-path-provisioner
integration-test/volumes
integration-test/gocov
cover.out
cover.html
cover.e2e.out
cover.e2e.html
coverprofile.out
coverprofile.html
