*.tgz
*.swp
kubeconfig
*.kubeconfig
bin/
*.tar
integration-test/last-image
integration-test/log
integration-test/kind.config.yaml
integration-test/local-path-provisioner
integration-test/shared-local-path-provisioner
charts/local-path-provisioner
integration-test/volumes
integration-test/gocov
cover.out
cover.html
cover.e2e.out
cover.e2e.html
coverprofile.out
coverprofile.html
