apiVersion: kink.meln5674.github.com/v0
Kind: Config
chart:
    chart: ./helm/kink
release:
  upgradeFlags: ['--timeout=15m']
  set:
    image.pullPolicy: Never
    controlplane.securityContext.privileged: "true"
    worker.securityContext.privileged: "true"
    controlplane.replicaCount: "3"
    worker.replicaCount: "2"
    controlplane.persistence.enabled: "true"
    worker.persistence.enabled: "true" 
    rke2.enabled: "true"
    sharedPersistence.enabled: "true"
    sharedPersistence.storageClassName: "shared-local-path"
